@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header{
    background-image: url(/img/modern-living-room-interior-2021-09-02-08-41-17-utc.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
@media (width:768px) {
    .header{
        background-image: url(/img/modern-living-room-interior-2021-09-02-08-41-17-utc.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    } 
}
@media (max-width:640px) {
    .header{
        background-image: url(/img/modern-living-room-interior-2021-09-02-08-41-17-utc.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    } 
}
@media (min-width: 300px) {
    .open{
      display: block;
    }
    
}
